<div class = "row row-form" style="margin-left: 0px !important;margin-right:  0px !important">

<h3 style="margin:0px 0px 20px 0px;color:gray" class="title-formulario">EDITAR SEGUIMIENTO</h3>


<%= render 'form', tracing: @tracing %>

</div>