
	<div class="row">
		<div class="col-md-12 ">
			<h1 class="titulo" align="center ">PRIMER CONTACTO</h1>
		</div>

		<%= render 'form', clinic_history_couple: @clinic_history_couple %>
		
	</div>

<style type="text/css" media="screen">

	.titulo{

		background: #46b8da;
		color: white !important;
		padding: 10px 6px;
		margin-top: 0px;
   		margin-bottom: 18px;
   		font-weight: bold
   		 margin-left: 16px;
	}
	
</style>