<div class="container">
      <div class="row">
		<div class="col-md-12 titulo">
			<h1 align="center">Crear Histora Clinica de Pareja</h1>
		</div>

		<%= render 'form', clinic_history_couple: @clinic_history_couple %>

	</div>
</div>

<style type="text/css" media="screen">

	.titulo{

		background: #46b8da;
		color: #EEEEECFF;
		padding: 10px 6px;
		margin-top: 22px;
   		margin-bottom: 18px;
	}

</style>