<div class="col-sm-9 panel-prin">
      <div class="row">
		<div class="col-md-12 titulo">
			<h3 align="center">Editar Seguimiento de Pareja Familiar</h3>
		</div>

		<%= render 'form', tracing_couple_family: @tracing_couple_family %>
		
	</div>
</div>




<style type="text/css" media="screen">

	.titulo{

		background: #46b8da;
		color: #EEEEECFF;
    	padding: 2px 6px;
		margin-top: 22px;
   		margin-bottom: 18px;
   		margin-left: 27px;
    	width: 94%;
	}
	
</style>