
      <div class="row" style="padding:0px 50px">
		<div class="col-md-12 titulo">
			<h2 align="center">EDITAR HISTORIA CLINICA FAMILIAR</h2>
		</div>

		<%= render 'form', clinic_history_family: @clinic_history_family %>
		

     </div>

<style type="text/css" media="screen">

	.titulo{

		background: #46b8da;
		color: white !important;
		padding: 10px 6px;
   		margin-bottom: 18px;
   		font-weight: bold
	}

</style>

