<div class="col-sm-9 panel-prin">
      <div class="row margenes">
		<div class="col-md-12 titulo">
			<h3 align="center">Nuevo Histora Clinica de Familias</h3>
		</div>

		<%= render 'form', clinic_history_family: @clinic_history_family %>
		
	</div>
</div>

<style type="text/css" media="screen">

	.titulo{

		background: #46b8da;
		color: #EEEEECFF;
		padding: 10px 6px;
		margin-top: 22px;
   		margin-bottom: 18px;
	}

	.margenes{
		margin-left: 10px;
		margin-right: 10px;
	}

</style>
