<br>
<div class="col-md-9" id="title" >
	<h1 align="center">Editar Formato</h1>
</div>
<br><br>

<%= render 'form', created_format: @created_format %>
<style>
	h1{
		color: #fff;
	}

	#title{
		margin-left: 160px;
		background: #57bbe2;
		margin-bottom: 17px;
	}
</style>