
p
{
   color:gray;
}
.title-table
{
  font-size: 23px;
    padding: 6px;
    color: #0db497;
    font-family: 'Days One', sans-serif ;

}
.title-table1
{
  font-size: 10px;
    padding: 10px;
    color: #0db497;
    font-family: 'Days One', sans-serif;
}

.contenido
{
  background:white;
  margin-top: 0px;
      width: 100%;
    margin-left: 0%;
    padding: 0px 30px;
        padding-top: 25px;

}

.tr-table
{
background: #f2f2f2;
    color: #7a7a7a;
    font-weight:bold;

    }
    .table
    {

        color: #7a7a7a;
        font-size:12px;
        padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px !important;



    }

    .tbody td
        {
        vertical-align: middle !important;
        }


        .paginate
{
  text-align:center;

}
.pagination
{
  
  position: relative;
    top: -10px;
}
.page_info
  {
  color:#0db497  !important;
  }
  .titulo1
  {
      margin-left: 120px;
    color:#0db497  !important;
  }
  .def
  {
  color:green;
  }

.pagination {

    margin: 10px 0 !important;
  
    }


.form-control {

    border: 1px solid #a2a2a2 !important;

    font-weight: 200;
    background: #fbfbfb !important;

}

.row-form
{
      padding: 29px 36px;

    background: #white;
    border: 1px solid #428bca;
    /*box-shadow: #969595 0px 0px 22px;*/
}
.menu-history a
{
 border-radius: 10px 10px 0 0;
 border-bottom: none !important;
} 
.btn-form
{
  padding-left:50px !important;
  padding-right:50px !important;
}
   

 .jumbotron {

     background-color: white !important;
     padding-top:0px !important;
}  
label
{
        
    color: #888888  !important;
   
}
.h1-tittle {
    color: #949494;
    background: #efefef;
    margin: 0px;
    padding: 11px 30px;
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Days One', sans-serif;
    text-align: center;
}
.h1-tittle1 {
    color: #949494;
    background: #efefef;
    margin: 0px;
    padding: 11px 30px;
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Days One', sans-serif;
    text-align: center;
}
.h2-tittle {
    color: #969696;
    /* background: #efefef; */
    margin: 0px;
    padding: 11px 30px;
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Days One', sans-serif;
    text-align: center;
}
.h3-tittle {
    color: #969696;
    /* background: #efefef; */
    margin: 0px;
    padding: 11px 30px;
    font-size: 18px;
    border-radius: 5px 5px 0px 0px;
    
   
}
.row-form h3
{

   /* background: #3b84a7;*/
    color: white;
    /* margin-bottom: 4px !important; */
    /* display: inline; */
    padding: 3px 17px;
    margin-left: 10px;
   /* width: 500px;*/
    margin: 0px;
    margin-left: 10px;
    border-radius: 8px 8px 0px 0px;

}

hr
{
  margin:10px !important;
}




.active1 
{
background: #5bc0de !important;
    color: white !important;
    border: 3px solid !important;

}

.active1 a
{
     background:none !important;
     color:white !important;

}

.li
{
      text-align: center;
    width: 140px;
  
    
}
.li1
{
      text-align: center;
    width: 140px;
  
    
}

.na
{
 
}

.area
{
      height: 100px !important;

}

@media (max-width: 900px) {
    .li {
          text-align: left !important;

    }
}


.step1 h3
{
  
  color:gray;
}


.imgedit img
{
  width:100px;
    
}
  
.edit-active
{
background-color: #5bc0de !important;
    color: white !important;
    border-radius: 0px !Important;
}


div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }


.antecedentes h3
{
  color: gray;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
.descnum2
{
  max-height: 350px !important;
    overflow: auto;
    height: 350px;
}
.crear
{
  font-size: 20px;
      padding: 1px 10px;
    color: white;
    background: #428bca;
}
.antecedentes
{
  border: 1px solid #428bca;
}
.no-marging
{
  margin-left:0px !important;
  margin-right:0px !important;

}
.color-gray1
{
  color:gray;
}

.field_date
{
  font-size: 20px;
  color:#187191;
}
#event_date_event
{
margin: 0px 10px;
    width: 110px;
    text-align: center;
}
.date_select
{
  display:inline-flex !important;
}



.noactive
{

    background: #2e7dab !important;
    color: white;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(12, 12, 12, 0.51);
    border-radius: 0px !important;
 }  

.btnl
{

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 7px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

