
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree .
*/
.application
{


   background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), 
 url('http://www.consultorsalud.com/sites/consultorsalud/files/salud-mental.jpg')no-repeat center top;
  background-size: cover;


}

.navbar-brand img
{
	width:130px;
}

.navbar-brand 
{
	padding: 0px 15px !important;
}

.login1
    {
    margin-top:10px;    
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px !important;
    padding-right: 50px  !important;
       background: white;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
      p
      {
        padding:10px;
      }
      label
      {
      
      }
    }




.sign_form
{
  margin-top:30px;
}

.titulo-form
{
   font-family: 'Days One', sans-serif;
    text-align:center;
    font-size: 2em;
    margin: 0px;
       
    color: #b9b9b9;
}