<p style="text-align: justify;font-size: 10px;padding: 20px 50px;width: 100%;">
<sup>1</sup> En los procedimientos relacionados con la psicología forense, se deberá especificar que la información dada al psicólogo se condesará en un informe que le será entregado al abogado y que lo hará público en los escenarios jurídicos correspondientes.<br><br>
<sup>2</sup> En caso de no contar el consentimiento de uno de los dos padres, es necesario explicar la razón.<br><br>
<sup>3</sup> En ambientes forenses, de contarse con el consentimiento de los dos padres, se hará saber que la remisión de autoridad competente (juez, defensor de familia, comisario de familia, personero municipal o inspector de policía de acuerdo con la Ley 1098 de 2006) se toma como consentimiento sustituto.</p>



<style>
th
{
	width: 50%;
}
	
</style>